.sub-detail-container{
  /* color: rgb(15, 83, 229);
  background-color: #a5e4eb;
  display: flex;
  align-items: flex-start;
  height: 100%; */
}

h1{
  color: rgb(15, 83, 229);

}

.tea-pic{
  width: 20%;
}

.tea-info{
  margin: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.button-row{
  margin: 5vh;
  padding: 5vh;
}

button:hover{
  cursor: pointer;
}

.activate{
  margin: 3vh;
  background-color: #73e569;
}

.deactivate{
  margin: 3vh;
  background-color: #73e569;
}

.tea-details{
  height: 100vh;
  width: 70%;
  margin-left: 30%;
  text-align: center; 
  background-color: #b1e4ea;

}

aside {
  width: 30%;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background: -webkit-linear-gradient(top, #73e569 0%, #2782cc 100%);
  border-color: #000203;
  border-style: groove;
}

aside:hover{
  cursor: pointer;
}

img {
  border-radius: 5555px;
  object-fit: cover;
  width: 100%;
}